<template>
	<view class="index_page">
		<view class="index_wrapper">
			<view class="swiper_wrapper">
				<SwiperCustom></SwiperCustom>
			</view>
			<!--新榜榜单-->
			<BaseTitleWrapper title="新榜榜单">
				<view class="menus_wrapper">
					<view class="menu_item" v-for="(item,index) in menuList" :key="item.id">
						<view class="menu_img"></view>
						<view class="menu_name">{{item.menuName}}</view>
					</view>
				</view>
			</BaseTitleWrapper>
			<!--商业合作-->
			<BaseTitleWrapper title="商业合作">
				<view class="cooperations_wrapper">
					<Cooperation class="cooperation_item_w" :cooperation="item" v-for="(item,index) in cooperations" :key="item.id">
					</Cooperation>	
				</view>
			</BaseTitleWrapper>
		</view>
	</view>
</template>

<script>
	import BaseTitleWrapper from '../../components/BaseTitleWrapper.vue'
	import Cooperation from '../../components/Cooperation.vue'
	import SwiperCustom from '../../components/SwiperCustom.vue'
	export default {
		data() {
			return {
				menuList:[
					{menuName:"微信",id:1001},
					{menuName:"视频号",id:1002},
					{menuName:"微博",id:1003},
					{menuName:"抖音号",id:1004},
					{menuName:"快手号",id:1005},
					{menuName:"小红书",id:1006},
					{menuName:"哔哩哔哩",id:1007},
					{menuName:"查看全部",id:1008}
				],
				cooperations:[
					{
						title:"找达人",
						desc:"速度快",
						id:2001
					},
					{
						title:"找合作",
						desc:"选择多",
						id:2002
					},
					{
						title:"找社群",
						desc:"交朋友",
						id:2003
					}
				]
			}
		},
		components:{
			SwiperCustom,
			BaseTitleWrapper,
			Cooperation
		},
		onLoad() {

		},
		methods: {

		}
	}
</script>

<style lang="less">
.index_page{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
	.menus_wrapper{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		.menu_item{
			flex: 0 0 25%;
			width: 25%;
			.menu_img{
				width: 80rpx;
				height: 80rpx;
				margin: 0rpx auto;
				border-radius: 50%;
				border:1rpx solid #ccc;
			}
			.menu_name{
				width: 100%;
				text-align: center;
				line-height: 60rpx;
				font-size: 24rpx;
			}
		}
	}
	.cooperations_wrapper{
		width: 100%;
		display: flex;
		padding: 0rpx 26rpx;
		justify-content: space-between;
		box-sizing: border-box;
		.cooperation_item_w{
			flex: 0 0 30%;
			width: 30%;
		}
	}
}
</style>
