<template>
	<PageBase title="编辑个人资料" :isTabbarPage="false"
		:styles="['background:linear-gradient(to right, #fdc685, #fce7bc);']">
		<view class="update_wrapper">
			<view class="bg_wrapper">
				<view class="update_wrapper_item">
					<view class="wrapper_item_title">基础信息</view>
					<view class="wrapper_item_ul">
						<view class="wrapper_item_li">
							<label>头像</label>
							<view class="wrapper_item_li_right">
								<view class="avatar"></view>
							</view>
						</view>
						<view class="wrapper_item_li">
							<label>昵称</label>
							<view class="wrapper_item_li_right">
								<view class="nickName">陈小哥</view>
							</view>
						</view>
						<view class="wrapper_item_li">
							<label>微信号</label>
							<view class="wrapper_item_li_right">
								<view class="nickName">ckf2019</view>
							</view>
						</view>
					</view>
				</view>
				<view>
					<button @click="login">登录</button>
					<button @click="regiser">注册</button>
				</view>
				<view class="update_wrapper_item">
					<view class="wrapper_item_title">联系方式</view>
				</view>
			</view>
		</view>







	</PageBase>
</template>

<script>
	import PageBase from '../../components/PageBase.vue'
	import userModalApi from "../../utils/apis/userModalApi.js"
	export default {
		data() {
			return {

			};
		},
		created() {
		},
		methods:{
			//获取手机号
			getUserInfo(userInfo){
				console.log("获取用户手机号",userInfo)
			},
			//用户登录
			login(){
				this.getUnionid().then((res)=>{
					userModalApi.login({uniqueId:res.unionid}).then((login)=>{
						console.log("登录-----",login)
					})
				})
			},
			getUnionid(){
				return new Promise((resolve,reject)=>{
					uni.login({
						provider:"weixin",
						success(res) {
							userModalApi.getUnionid({code:res.code}).then((result)=>{
								resolve(result.data)
							})
						}
					})
				})
			},
			//用户注册
			regiser(){
				this.getUnionid().then((res)=>{
					userModalApi.register({
						username:"陈凯飞",
						phone:"18219015944",
						uniqueId:result.unionid,
						openId:result.openId
					}).then((register)=>{
						console.log("用户注册结果",register)
					})
				})
			}
		},
		components: {
			PageBase
		}
	}
</script>

<style lang="less">
	.update_wrapper {
		width: 100%;
		height: 100%;
		background-color: #f8f8f8;
		box-sizing: border-box;

		.bg_wrapper {
			position: relative;
			padding-top: 1rpx;
			width: 100%;
			height: 340rpx;
			background: linear-gradient(to right, #fce8c7, #fdf6e3);
			box-sizing: border-box;

			.update_wrapper_item {
				width: 90%;
				min-height: 520rpx;
				background-color: #fff;
				border-radius: 20rpx;
				padding: 40rpx 30rpx 30rpx 30rpx;
				margin: 40rpx auto 0rpx auto;
				box-sizing: border-box;

				.wrapper_item_title {
					font-size: 32rpx;
					font-weight: 400;
				}

				.wrapper_item_ul {
					width: 100%;

					.wrapper_item_li {
						width: 100%;
						font-size: 28rpx;
						color: #393939;
						line-height: 62rpx;
						margin-top: 20rpx;
						display: flex;
						align-items: center;
						label{
							flex: 0 0 20%;
							width: 20%;
							margin-right: 20rpx;
						}
						.wrapper_item_li_right{
							flex: 1;
							.nickName{
								float:right;
								line-height: 88rpx;
							}
							.avatar{
								width: 88rpx;
								height: 88rpx;
								border-radius: 50%;
								background-color: red;
								float: right;
							}
						}
					}
				}
			}
		}
	}
</style>
