<template>
	<PageBase title="个人中心" :isTabbarPage="true" :styles="['background:linear-gradient(to right, #fdc685, #fce7bc);']">
		<view class="my_wrapper">
			<view class="no_finish_auth">
				您有必要信息未填写，部分功能无法使用
				<label class="my_info_finish">去完成</label>
			</view>
			<view class="bg_wrapper">
				<view class="my_header">
					<view class="my_header_info">
						<view class="my_nickName">
							微信用户
							<label>普通用户</label>
						</view>
						<view class="avatar"></view>
					</view>
					<view class="my_letter">
						<view class="letter_item">暂未填写</view>
						<view class="letter_item">暂未填写</view>
						<view class="letter_item">暂未填写</view>
					</view>
				</view>
				<label class="my_card">我的名片</label>
			</view>
			<view class="to_vip">
				<view class="vip_title">您当前为普通用户</view>
				<view class="vip_title desc">最高立返1w商桥卷</view>
				<label class="to_finsh_vip">开通会员</label>
			</view>
			<!--导航菜单-->
			<view class="nav_menus">
				<view class="nav_item">消息中心</view>
				<view class="nav_item">消息中心</view>
				<view class="nav_item">消息中心</view>
				<view class="nav_item">消息中心</view>
			</view>
			<!--退出登录-->
			<view class="login_out">退出登录</view>
		</view>
	</PageBase>
</template>

<script>
	import PageBase from '../../components/PageBase.vue'
	export default {
		data() {
			return {

			};
		},
		components: {
			PageBase
		}
	}
</script>

<style lang="less">
	.my_wrapper {
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		background-color: #fff;
		.no_finish_auth {
			position: relative;
			background-color: #fff;
			width: 100%;
			padding: 0rpx 40rpx;
			font-size: 28rpx;
			line-height: 110rpx;
			box-sizing: border-box;
			.my_info_finish{
				position: absolute;
				right: 40rpx;
				top:50%;
				background-color: #5a89fd;
				color: #fff;
				font-size: 24rpx;
				line-height: 52rpx;
				padding: 0rpx 20rpx;
				border-radius: 52rpx;
				transform: translate(0rpx,-50%);
			}
		}

		.bg_wrapper {
			position: relative;
			width: 100%;
			height: 340rpx;
			background: linear-gradient(to right, #fce8c7, #fdf6e3);
			.my_card{
				position: absolute;
				display: block;
				right: 80rpx;
				bottom: 0rpx;
				color: #fff;
				font-size: 28rpx;
				padding: 0rpx 20rpx;
				line-height: 62rpx;
				border-radius: 10rpx;
				background: linear-gradient(to right, #fecd67, #fd962d);
			}
			.my_header {
				position: absolute;
				width: calc(100% - 80rpx);
				height: 340rpx;
				top: 40rpx;
				left: 50%;
				border-radius: 20rpx;
				background: linear-gradient(to right, #fff, #fec888);
				transform: translate(-50%, 0rpx);
				.my_header_info{
					width: 100%;
					padding: 20rpx 40rpx;
					display: flex;
					align-items: center;
					justify-content: space-between;
					box-sizing: border-box;
					.my_nickName{
						display: flex;
						align-items: center;
						font-size: 42rpx;
						font-weight: 800;
						label{
							font-size: 24rpx;
							margin-left: 20rpx;
						}
					}
					.avatar{
						width: 120rpx;
						height: 120rpx;
						background-color: red;
						border-radius: 50%;
					}
				}
				.my_letter{
					width: 100%;
					padding: 0rpx 40rpx;
					box-sizing: border-box;
					.letter_item{
						font-size: 28rpx;
						color: #aaaaaa;
						margin-bottom: 10rpx;
					}
				}
			}
		}

		.to_vip {
			position: relative;
			width: calc(100% - 80rpx);
			padding: 40rpx;
			color: #fff;
			background: linear-gradient(to right, #444245, #242625);
			margin: 80rpx auto 0rpx auto;
			border-radius: 20rpx;
			box-sizing: border-box;

			.to_finsh_vip {
				position: absolute;
				right: 40rpx;
				top: 50%;
				text-align: center;
				border-radius: 40rpx;
				padding: 0rpx 20rpx;
				transform: translate(0rpx,-50%);
				background-color: #fff;
				font-size: 28rpx;
				color: #000;
				line-height: 62rpx;
			}

			.vip_title {
				font-size: 28rpx;

				&.desc {
					font-size: 26rpx;
				}
			}
		}
		.login_out{
			width: 90%;
			line-height: 52rpx;
			text-align: center;
			margin: 20rpx auto;
			font-size: 28rpx;
			border-radius: 20rpx;
			padding: 20rpx 0rpx;
			background-color: #f6fafb;
		}
		.nav_menus{
			width: 90%;
			padding: 0rpx 40rpx;
			background-color: #f6fafb;
			margin: 20rpx auto 0rpx auto;
			border-radius: 20rpx;
			box-sizing: border-box;
			.nav_item{
				padding: 30rpx 0rpx;
				font-size: 28rpx;
				border-bottom: 2rpx solid #dfe3e4;
				background-image: url("../../static/右箭头.png");
				background-repeat: no-repeat;
				background-size: 32rpx 32rpx;
				background-position: 100% 50%;
				&:last-child{
					border-bottom: none;
				}
			}
		}
	}
</style>
