<template>
	<view class="base_title_wrapper">
		<view class="base_title">{{title}}</view>
		<slot></slot>
	</view>
</template>

<script>
	export default {
		props:{
			title:{
				type:String,
				default:""
			}
		},
		name:"BaseTitleWrapper",
		data() {
			return {
				
			};
		}
	}
</script>

<style lang="less">
.base_title_wrapper{
	width: 100%;
	.base_title{
		line-height: 80rpx;
		font-size: 32rpx;
		width: 100%;
		padding-left: 26rpx;
		box-sizing: border-box;
	}
}
</style>