<template>
	<view class="cooperation_item">
		<view class="cooperation_title">{{cooperation.title}}</view>
		<view class="cooperation_desc">{{cooperation.desc}}</view>	
	</view>
</template>

<script>
	export default {
		name:"Cooperation",
		props:{
			cooperation:{
				type:Object,
				default:()=>{}
			}
		},
		data() {
			return {
				
			};
		}
	}
</script>

<style lang="less">
		.cooperation_item{
			width: 100%;
			color: #fff;
			padding: 10rpx 0rpx 10rpx 30rpx;
			border-radius: 16rpx 0rpx 16rpx 0rpx;
			box-sizing: border-box;
			background-color: #fff;
			.cooperation_title{
				font-size: 28rpx;
				color: #000;
			}
			.cooperation_desc{
				font-size: 24rpx;
				color: #ccc;
			}
		}
</style>