<template>
	<view class="find_to_find">
		<view class="find_header">
			找达人
			<view class="more" @click="toMoreByType">更多达人</view>
		</view>
		<view class="find_content">
			<slot></slot>
		</view>
	</view>
</template>

<script>
	export default {
		name:"FindToFind",
		data() {
			return {
				
			};
		},
		methods:{
			toMoreByType(){
				uni.navigateTo({
					url:"/pages/daRenTuiJian/daRenTuiJian"
				})
			}
		}
	}
</script>

<style lang="less">
.find_to_find{
	width: 100%;
	margin-bottom: 30rpx;
	.find_header{
		position: relative;
		width: 100%;
		padding: 0rpx 30rpx;
		text-align: left;
		line-height: 100rpx;
		font-size: 32rpx;
		box-sizing: border-box;
		border-radius: 20rpx 20rpx 0rpx 0rpx;
		background: linear-gradient(to right, #ffd5d6, #ffe3bc);
		.more{
			position: absolute;
			top:50%;
			right: 30rpx;
			transform: translate(0rpx,-50%);
			font-size: 24rpx;
			color: #f4b25c;
		}
	}
	.find_content{
		width: 100%;
		padding:10rpx 30rpx;
		background-color: #fff;
		border-radius: 0rpx 0rpx 20rpx 20rpx;
		box-sizing: border-box;
	}
}
</style>