<template>
	<view class="nav_custom" :style="['height:'+(statusBarHeight+statusBarTop)+'px;',...styles]">
		<view class="nav_custom_bar" :style="'height:'+statusBarHeight+'px;top:'+statusBarTop+'px;line-height:'+statusBarHeight+'px;'">
			{{title}}
			<view class="nav_left" v-if="!isTabbarPage" :style="'height:'+menuButtonInfo.height+'px;width:'+menuButtonInfo.width+'px;top:50%;border-radius:'+menuButtonInfo.height+'px;right:'+(menuButtonInfo.right-menuButtonInfo.width)+'px;'">
				<image class="nav_icon" @click="toNavBack" :style="'height:'+(menuButtonInfo.height-12)+'px'" src="../static/left.png" mode=""></image>
				<view class="center_line" :style="'height:'+(menuButtonInfo.height-12)+'px'"></view>
				<image class="nav_icon" :style="'height:'+(menuButtonInfo.height-12)+'px'" src="../static/home-fill.png" mode=""></image>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		name:"NavCuston",
		props:{
			title:{
				type:String,
				default:''
			},
			styles:{
				type:Array,
				default:()=>[]
			},
			isTabbarPage:{
				type:Boolean,
				default:false
			}
		},
		data() {
			return {
				statusBarHeight:0,
				statusBarTop:0,
				menuButtonInfo:{
					width:0,
					height:0,
					top:0,
					right:0
				}
			};
		},
		methods:{
			//导航栏回退
			toNavBack(){
				uni.navigateBack(-1)
			},
			renderToNav(){
				const that=this;
				uni.getSystemInfo({
					success(res) {
						that.statusBarHeight=res.statusBarHeight*2
						that.statusBarTop=res.safeArea.top
						that.menuButtonInfo=uni.getMenuButtonBoundingClientRect();
						that.$emit("navFinish",{height:res.statusBarHeight*2+res.safeArea.top})
					}
				})
			}
		},
		mounted() {
			this.renderToNav()
		}
	}
</script>

<style lang="less">
	.nav_custom{
		position: relative;
		.nav_custom_bar{
			position: absolute;
			left: 0rpx;
			width: 100%;
			font-size: 32rpx;
			text-align: center;
			z-index: 1000;
			.nav_left{
				position: absolute;
				transform: translate(0rpx,-50%);
				padding: 0rpx 20rpx;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: #fff;
				box-sizing: border-box;
				.center_line{
					width: 2rpx;
					margin: 0rpx 20rpx;
					background-color: #f8f8f8;
				}
				
			}
		}
	}
</style>