<template>
	<view class="page">
		<NavCustom @nav-finish="navFinish" :styles="styles" :isTabbarPage="isTabbarPage" :title="title"></NavCustom>
		<view class="page_content" :style="'height:calc(100% - '+navHeight+'px)'">
			<slot></slot>
		</view>
	</view>
</template>

<script>
	import NavCustom from './NavCustom.vue'
	export default {
		name:"PageBase",
		props:{
			title:{
				type:String,
				default:""
			},
			styles:{
				type:Array,
				default:()=>[]
			},
			isTabbarPage:{
				type:Boolean,
				default:false
			}
		},
		components:{
			NavCustom
		},
		methods:{
			//导航栏初始化完成
			navFinish(e){
				this.navHeight=e.height
			}
		},
		data() {
			return {
				navHeight:0
			};
		}
	}
</script>

<style lang="less">
.page{
	width: 100%;
	height: 100%;
	.page_content{
		width: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}
}
</style>