<template>
	<view class="custom_swiper">
		<swiper class="swiper" @change="swiperChangeHandle" circular :indicator-dots="indicatorDots" :autoplay="autoplay" :interval="interval"
			:duration="duration">
			<swiper-item v-for="(item,index) in lists">
				<image class="img_item" :key="index" :src="item.images" mode="scaleToFill"></image>
			</swiper-item>
		</swiper>
		<view class="indicator_dots">
			<span v-for="(dot,index) in lists" :key="'d_'+index" :class="['indicator_dot_item',indicatorDotActiveIndex===index?'indicator_active':'']"></span>
		</view>
	</view>
</template>

<script>
	export default {
		name:"SwiperCustom",
		data() {
			return {
				indicatorDots: false,
				autoplay: true,
				interval: 2000,
				duration: 500,
				indicatorDotActiveIndex:0,
				lists:[
					{
						images:"https://img30.360buyimg.com/pop/s1180x940_jfs/t1/164800/35/14493/97067/64f5b323F8d09f2ba/385018cf1f0e00b5.jpg.avif",
						title:""
					},
					{
						images:"https://img30.360buyimg.com/pop/s1180x940_jfs/t1/164800/35/14493/97067/64f5b323F8d09f2ba/385018cf1f0e00b5.jpg.avif",
						title:""
					},
					{
						images:"https://img30.360buyimg.com/pop/s1180x940_jfs/t1/164800/35/14493/97067/64f5b323F8d09f2ba/385018cf1f0e00b5.jpg.avif",
						title:""
					}
				]
			};
		},
		methods:{
			swiperChangeHandle(e){
				this.indicatorDotActiveIndex=e.detail.current
			}
		}
	}
</script>

<style lang="less">
.custom_swiper{
	height: 420rpx;
	.swiper{
		height: 100%;
		.img_item{
			display: inline-block;
			vertical-align: top;
			width: 100%;
			height: 100%;
		}
	}
	.indicator_dots{
		width: 100%;
		line-height: 46rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translateY(-40rpx);
		.indicator_dot_item{
			display: inline-block;
			vertical-align: top;
			width: 14rpx;
			height: 14rpx;
			margin-right: 10rpx;
			border-radius: 50%;
			background-color: #fff;
			&.indicator_active{
				width: 20rpx;
				height: 4rpx;
				border-radius: 0rpx;
				background-color: yellow;
			}
		}
	}
}
</style>