<template>
	<PageBase :isTabbarPage="false" title="达人推荐" :styles="['background:#f8f8f8;']">
		<view class="quick_filter">
			<view class="quick_wrapper">
				<view class="quick_title">快速筛选达人<label>GO</label></view>
				<view class="quick_desc">按条件筛选,更精准高效</view>
			</view>
		</view>
		<view class="labels">
			<label>达人身份验证</label>
			<label>1v1拉群对接</label>
			<label>5分钟快速响应</label>
		</view>
		<!--菜单列表-->
		<view class="menu_wrapper">
			<view class="menu_item" v-for="(item,index) in menuList" :key="item.id">
				<view class="menu_image"></view>
				<view class="menu_title">{{item.title}}</view>
			</view>
		</view>
		<!--找达人-->
		<view class="find_wrapper">
			<find-to-find>
				<view class="find_header_menus">
					<view :class="['find_menu_item',findMenuActiveID==item.id?'active':'']"
						v-for="(item,index) in findToMenuLetter" :key="item.id">
						{{item.name}}
					</view>
				</view>
				<view class="find_list">
					<view class="daren_item">
						<view class="avatar"></view>
						<view class="group_name">广东夫妇</view>
						<view class="fen_si">粉丝 <span>1234.56w</span></view>
						<span class="contact_he">联系Ta</span>
					</view>
					<view class="daren_item">
						<view class="avatar"></view>
						<view class="group_name">广东夫妇</view>
						<view class="fen_si">粉丝 <span>1234.56w</span></view>
						<span class="contact_he">联系Ta</span>
					</view>
					<view class="daren_item">
						<view class="avatar"></view>
						<view class="group_name">广东夫妇</view>
						<view class="fen_si">粉丝 <span>1234.56w</span></view>
						<span class="contact_he">联系Ta</span>
					</view>
				</view>
				<view class="to_find_more">去达人广场找更多达人>></view>
			</find-to-find>
		</view>
		<!--本周排行-->
		<view class="rank_wrapper">
			<view class="rank_item" style="background-color: red;">A</view>
			<view class="rank_item" style="background-color: yellow;">B</view>
			<view class="rank_item" style="background-color: green;">C</view>
		</view>

	</PageBase>
</template>

<script>
	import PageBase from '../../components/PageBase.vue'
	import FindToFind from '../../components/FindToFind.vue'
	export default {
		data() {
			return {
				menuList: [{
						id: 30001,
						title: "达人广场"
					},
					{
						id: 30002,
						title: "达人资源包"
					},
					{
						id: 30003,
						title: "最新达人"
					},
					{
						id: 30004,
						title: "批量联系"
					}
				],
				findMenuActiveID: 1001,
				findToMenuLetter: [{
						id: 1001,
						name: '抖音号'
					},
					{
						id: 1002,
						name: '视频号'
					},
					{
						id: 1003,
						name: '小红书'
					}
				]
			};
		},
		components: {
			PageBase,
			FindToFind
		}
	}
</script>

<style lang="less">
	.quick_filter {
		width: 90%;
		padding: 30rpx;
		margin: 20rpx auto;
		background-color: #d9e8ff;
		border-radius: 20rpx;
		box-sizing: border-box;

		.quick_wrapper {
			.quick_title {
				font-size: 30rpx;
				color: #151f20;
				margin-bottom: 10rpx;

				label {
					display: inline-block;
					vertical-align: top;
					width: 68rpx;
					line-height: 42rpx;
					text-align: center;
					background-color: #151f20;
					color: #fff;
					margin-left: 20rpx;
					border-radius: 42rpx;
					font-size: 30rpx;
				}
			}

			.quick_desc {
				font-size: 24rpx;
				color: #c2cddf;
			}
		}
	}

	.labels {
		width: 90%;
		margin: 10rpx auto;
		display: flex;
		justify-content: space-around;

		label {
			font-size: 24rpx;
			color: #9b9b9b;
		}
	}

	.menu_wrapper {
		width: 90%;
		margin: 30rpx auto;
		display: flex;
		justify-content: space-around;

		.menu_item {
			flex: 1;

			.menu_image {
				width: 90rpx;
				height: 100rpx;
				margin: 30rpx auto 10rpx auto;
				background-color: red;
				border-radius: 20rpx;
			}

			.menu_title {
				font-size: 28rpx;
				color: #3b3b39;
				text-align: center;
			}
		}
	}

	.find_wrapper {
		width: 90%;
		margin: 0rpx auto;

		.find_header_menus {
			.find_menu_item {
				display: inline-block;
				vertical-align: top;
				font-size: 26rpx;
				margin-right: 30rpx;
				color: #6a6869;
				padding-bottom: 6rpx;
				border-bottom: 2rpx solid #fff;

				&.active {
					color: #f48b30;
					border-bottom-color: #f48b30;
				}
			}
		}

		.find_list {
			padding: 20rpx 0rpx;

			.daren_item {
				position: relative;
				display: inline-block;
				vertical-align: top;
				width: 33%;
				padding-bottom: 60rpx;

				.avatar {
					width: 90rpx;
					height: 90rpx;
					background-color: red;
					border-radius: 50%;
					margin: 20rpx auto;
				}

				.group_name {
					font-size: 28rpx;
					text-align: center;
				}

				.contact_he {
					position: absolute;
					bottom: 0rpx;
					left: 50%;
					min-width: 100rpx;
					line-height: 45rpx;
					padding: 0rpx 8rpx;
					border-radius: 50rpx;
					text-align: center;
					transform: translate(-50%, 0rpx);
					color: #fff;
					font-size: 24rpx;
					background-color: #3f3f3f;
				}

				.fen_si {
					font-size: 24rpx;
					text-align: center;
					color: #9a9a9a;
				}
			}
		}

		.to_find_more {
			width: 100%;
			padding-top: 30rpx;
			line-height: 50rpx;
			color: #5d86de;
			font-size: 28rpx;
			text-align: center;
		}
	}
	.rank_wrapper{
		width: 90%;
		padding-bottom: 40rpx;
		margin: 0rpx auto;
		display: flex;
		flex-wrap: nowrap;
		overflow-x: scroll;
		overflow-y: hidden;
		.rank_item{
			flex: 0 0 92%;
			width: 92%;
			border-radius: 20rpx;
			margin-right: 3%;
			height: 520rpx;
			&:last-child{
				margin-right: 0rpx;
			}
		}
	}










</style>
