<template>
	<PageBase :isTabbarPage="false" title="快速筛选达人"
		:styles="['background:linear-gradient(to right, #fcc17d, #f9e4c5);']">
		<view class="content">
			<view class="menu_wrapper">
				<view class="menu_item" v-for="item in 6">
					<view class="menu_title">你想找哪个平台的达人:</view>
					<view class="menu_sub">
						<view class="th">
							<label class="td active">抖音</label>
							<label class="td">小红书</label>
							<label class="td">视频号</label>
							<label class="td">视频号</label>
							<label class="td">抖音</label>
							<label class="td">小红书</label>
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="btn_wrapper">
			<view class="btn">立即筛选</view>
		</view>
	</PageBase>
</template>

<script>
	import PageBase from '../../components/PageBase.vue'
	export default {
		data() {
			return {

			};
		},
		components: {
			PageBase
		}
	}
</script>

<style lang="less">
	.content {
		position: relative;
		width: 100%;
		border-radius: 20rpx;
		height: calc(100% - 120rpx);
		background-color: #fff;
		overflow-x: hidden;
		overflow-y: scroll;
		.menu_wrapper{
			width: 94%;
			padding: 40rpx 0rpx;
			margin: 0rpx auto;
			.menu_item{
				.menu_title{
					font-size: 28rpx;
					margin-bottom: 40rpx;
				}
				.menu_sub{
					display: table;
					flex-wrap: wrap;
					width: 100%;
					label{
						display: inline-block;
						vertical-align: top;
						width: 22%;
						font-size: 28rpx;
						border-radius: 10rpx;
						padding: 16rpx 0rpx;
						margin-right: 4%;
						margin-bottom: 28rpx;
						text-align: center;
						background-color: #ebf4f3;
						color: #000;
						&.active{
							background-color: #fff3e7;
							color: #ff9026;
						}
						&:nth-child(4n){
							margin-right: 0rpx;
						}
					}
				}
			}
		}
	}
	.btn_wrapper{
		position: relative;
		width: 100%;
		height: 120rpx;
		background-color: #fff;
		.btn {
			position: absolute;
			width: 94%;
			top:50%;
			left: 50%;
			color: #fff;
			line-height: 90rpx;
			font-size: 30rpx;
			text-align: center;
			border-radius: 20rpx;
			transform: translate(-50%,-50%);
			background: linear-gradient(to right, #fdc862, #fe932b);
		}
	}
</style>
