<template>
	<PageBase title="新榜新桥" :isTabbarPage="true" :styles="['background:linear-gradient(to right, #fdc787, #fae2c0);']">
		<view class="bridge_wrapper">
			<!--顶部背景加搜索框-->
			<view class="bg_linear">
				<view class="search">
					<input type="text" placeholder="请输入ID,昵称,关键字进行搜索">
				</view>
			</view>
			<!--菜单列表-->
			<view class="menu_wrapper">
				<view class="menu_item" v-for="(item,index) in menuList" :key="index">
					<view class="menu_bg" :style="'background-color:'+item.color">
						<image class="menu_bg_icon" :src="item.image" mode=""></image>
					</view>
					<view class="menu_desc">
						<view class="menu_title">{{item.title}}</view>
						<view class="menu_desc">{{item.desc}}</view>
					</view>
				</view>
			</view>
			<!--找达人-->
			<view class="find_wrapper">
				<find-to-find>
					<view class="find_header_menus">
						<view :class="['find_menu_item',findMenuActiveID==item.id?'active':'']" v-for="(item,index) in findToMenuLetter" :key="item.id">
							{{item.name}}
						</view>
					</view>
					<view class="find_list">
						<view class="daren_item">
							<view class="avatar"></view>
							<view class="group_name">广东夫妇</view>
							<view class="fen_si">粉丝 <span>1234.56w</span></view>
							<span class="contact_he">联系Ta</span>
						</view>
						<view class="daren_item">
							<view class="avatar"></view>
							<view class="group_name">广东夫妇</view>
							<view class="fen_si">粉丝 <span>1234.56w</span></view>
							<span class="contact_he">联系Ta</span>
						</view>
						<view class="daren_item">
							<view class="avatar"></view>
							<view class="group_name">广东夫妇</view>
							<view class="fen_si">粉丝 <span>1234.56w</span></view>
							<span class="contact_he">联系Ta</span>
						</view>
					</view>
				</find-to-find>
			</view>
		</view>
	</PageBase>
</template>

<script>
	import PageBase from '../../components/PageBase.vue'
	import FindToFind from '../../components/FindToFind.vue'
	export default {
		data() {
			return {
				menuList:[
					{
						color:'#fce2e1',
						title:'找达人',
						image:"../../static/达人.png",
						desc:"选择多"
					},
					{
						color:'#fdf4d7',
						title:'找合作',
						image:"../../static/合作.png",
						desc:'省时间'
					},
					{
						color:'#dcf5ef',
						title:'找社群',
						image:"../../static/社群.png",
						desc:'交朋友'
					}
				],
				findMenuActiveID:1001,
				findToMenuLetter:[
					{id:1001,name:'抖音号'},
					{id:1002,name:'视频号'},
					{id:1003,name:'小红书'}
				]
			};
		},
		components:{
			FindToFind,
			PageBase
		},
		onLoad() {
		}
	}
</script>

<style lang="less">
.bridge_wrapper{
	height: 100%;
	.bg_linear{
		position: relative;
		width: 100%;
		height: 260rpx;
		background: linear-gradient(to right, #fdc787, #fae2c0);
		.search{
			position: absolute;
			bottom: 40rpx;
			left: 50%;
			width: 90%;
			height: 68rpx;
			border-radius: 68rpx;
			transform: translate(-50%,0rpx);
			background-color: #fff;
			input{
				padding-left: 70rpx;
				font-size: 28rpx;
				height: 68rpx;
				color: #8a8a8a;
				line-height: 68rpx;
				background-image: url("../../static/search.png");
				background-size: 32rpx 32rpx;
				background-position: 20rpx 18rpx;
				background-repeat: no-repeat;
			}
		}
	}
	.menu_wrapper{
		width: 90%;
		margin: 30rpx auto;
		display: flex;
		justify-content: space-between;
		.menu_item{
			flex:0 0 24%;
			width: 24%;
			.menu_bg{
				position: relative;
				width: 100%;
				height: 80rpx;
				margin-bottom: 14rpx;
				border-radius: 20rpx;
				.menu_bg_icon{
					position: absolute;
					width: 50rpx;
					height: 40rpx;
					display: block;
					top:50%;
					left:50%;
					transform: translate(-50%,-50%);
				}
			}
			.menu_desc{
				text-align: center;
				.menu_title{
					font-size: 28rpx;
					color: #000;
					margin-top: 14rpx;
				}
				.menu_desc{
					font-size: 24rpx;
					color: #9c9c9c;
				}
			}
		}
	}
	.find_wrapper{
		width: 90%;
		margin: 0rpx auto;
		.find_header_menus{
			.find_menu_item{
				display: inline-block;
				vertical-align: top;
				font-size: 26rpx;
				margin-right: 30rpx;
				color: #6a6869;
				padding-bottom: 6rpx;
				border-bottom: 2rpx solid #fff;
				&.active{
					color: #f48b30;
					border-bottom-color: #f48b30;
				}
			}
		}
		.find_list{
			padding:20rpx 0rpx;
			.daren_item{
				position: relative;
				display: inline-block;
				vertical-align: top;
				width: 33%;
				padding-bottom: 60rpx;
				.avatar{
					width: 90rpx;
					height: 90rpx;
					background-color: red;
					border-radius: 50%;
					margin: 20rpx auto;
				}
				.group_name{
					font-size: 28rpx;
					text-align: center;
				}
				.contact_he{
					position: absolute;
					bottom: 0rpx;
					left: 50%;
					min-width: 100rpx;
					line-height: 45rpx;
					padding: 0rpx 8rpx;
					border-radius: 50rpx;
					text-align: center;
					transform: translate(-50%,0rpx);
					color: #fff;
					font-size: 24rpx;
					background-color: #3f3f3f;
				}
				.fen_si{
					font-size: 24rpx;
					text-align: center;
					color: #9a9a9a;
				}
			}
		}
	
	}









}
</style>
